/java/properties-to-titanium-converter/target
/java/properties-to-titanium-converter/.classpath
/java/properties-to-titanium-converter/.project
/java/properties-to-titanium-converter/.settings/org.eclipse.jdt.core.prefs
/java/properties-to-titanium-converter/.settings/org.eclipse.m2e.core.prefs
